<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - Sign-Up/Login Form</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

</head>
<body>
    <div class="form">
        <h1 style="/*background: #1ab188;*/ padding: 15px 10px;">Password change</h1>
        
        <h3 style="color: white; font-weight: 300;">Enter your current password and then your new one in order to change it.</h3>
        
        <form method="post">
            
            {% csrf_token %}
            <!-- {{form}} -->
            <!-- <input type="Submit" name="Send email"> -->
            <div class="field-wrap">
                <label>
                    Old password<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" id="oldPasswordChange"/>
            </div>
            <div class="field-wrap">
                <label>
                    New password<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" id="newPasswordChange"/>
            </div>
            <div class="field-wrap">
                <label>
                    New password confirmation<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" id="newConfirmationPasswordChange"/>
            </div>
            <button class="button button-block" id="changePassword"/>Change password</button>
            
        </form>
    </div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'accounts/sign_up_login.js' %}"></script>

</body>
</html>
